:root {
  --tsm: 13px;
  --tsm1: 14px;
  --tsm2: 15px;
  --tbase: 16px;
  --tlarge: 18px;
  --tlarge2: 22px;
  --txlarge: 25px;
  --tx2large: 32px;
  --tgiant: clamp(40px, 8vw, 80px);
  --tbig: clamp(35px, 6vw, 80px);
  --raleway: "Inter", "Avenir Next", "Segoe UI", sans-serif;
  --fira-code: "SF Mono", "Fira Code", "Roboto Mono", monospace;
}
